@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200;7..72,300;7..72,400;7..72,500;7..72,600;7..72,700;7..72,800;7..72,900&display=swap');
:root {
    --white-bg: #FDF8F8;
    --marron-txt: #362B25;
    --dark-red: #7F5056;
}
.homepage{

    padding: 20vh 0 5vh 0;
    width: 100%;
    background-color: var(--white-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homepage__arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white-bg);
    margin-top: 10vh;

}
.homepage__container{
    display: flex;
    justify-content: space-evenly;
    padding: 0 3vw 0 3vw;
    gap:3vw;

}


.homepage__title--line{
    height: 8px;
    width: 75px;
    background-color: var(--marron-txt);
}

.about{
    margin: 0;
    background-color: var(--dark-red);
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    padding: 8vh 13vw 8vh 13vw;
}
.about__text {
    color: #FDF8F8;
}
.about__text p{
    margin: 4vh 0 7vh 0;
}
.about__text a{
    text-decoration: none;
    font-family: "Poppins";
    color: #FDF8F8;
    background-color: #222D41;
    padding: 1vw;
}

p{
    font-family: "Poppins";
}

h1{
    font-family: "Literata";
    font-weight: 800;
    font-size: 80px;
}

h3{
    font-family: "Literata";
    font-weight: 400;
    font-size: 36px;
}

h2{
    margin: 0;
    font-size: 50px;
    font-family:"Literata";
}
@media screen and (max-width:1200px){
    .about{
        flex-direction: column;
    }
}
@media screen and (max-width:1000px){
    .about__img img{
        margin-top: 5vh;
        width: 100%;
    }
}
@media screen and (max-width: 1000px){
    .homepage__container--img{
        display: none;
    }
    h1{
        font-size: 50px ;
        text-align: center;
    }
    .homepage__title{
        max-width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2vw;
    }
    
}